<%- include('../layout-admin/header') -%>
    <!--begin::Header-->
    <div id="kt_header" class="header py-6 py-lg-0" dir="rtl" data-kt-sticky="true" data-kt-sticky-name="header"
        data-kt-sticky-offset="{lg: '300px'}">
        <!--begin::Container-->
        <div class="header-container container-xxl">
            <!--begin::Page title-->
            <div
                class="page-title d-flex flex-column align-items-start justify-content-center flex-wrap me-lg-20 py-3 py-lg-0 ms-3">
                <!--begin::Heading-->
                <h1 class="d-flex flex-column text-dark fw-bolder my-1">
                    <span class="text-white fs-1">ساخت فاکتور</span>
                    <small class="text-gray-600 fs-6 fw-normal pt-2">ینجا میتونی فاکتورت رو بسازی;)</small>
                </h1>
                <!--end::Heading-->
            </div>
            <!--end::Page title=-->
            <!--begin::Wrapper-->
            <div class="d-flex align-items-center flex-wrap">
                <!--begin::Action-->
                <div class="d-flex align-items-center py-3 py-lg-0">
                    <a href="#add_modal" class="btn bg-surati me-3" data-bs-toggle="modal">افزودن فاکتور</a>
                </div>
                <!--end::Action-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Container-->
        <div class="header-offset"></div>
    </div>
    <!--end::Header-->
    <div class="row">
        <!--begin::Tables Widget-->
        <div class="card col-11 mb-5 mb-xl-8 mt-10" style="margin: 0 auto;">
            <!--begin::Body-->
            <div class="card-body py-3">
                <!--begin::Table container-->
                <div class="table-responsive" style="direction: rtl;">
                    <!--begin::Table-->
                    <table class="table align-middle gs-0 gy-4">
                        <!--begin::Table head-->
                        <thead class="bg-table">
                            <tr class="fw-bolder text-muted bg-light bg-table">
                                <th class="ps-4 min-w-50px rounded-start">لینک فاکتور</th>
                                <th class="ps-4 min-w-50px text-center">تخفیف</th>
                                <th class="ps-4 min-w-50px text-center">وضعیت</th>
                                <th class="min-w-150px rounded-end" style="padding: 10px;"></th>
                            </tr>
                        </thead>
                        <!--end::Table head-->
                        <!--begin::Table body-->
                        <tbody id="tbody-table">
                        </tbody>
                        <!--end::Table body-->
                    </table>
                    <!--end::Table-->
                    <div style="display: flex;" id="loading">
                        <img src="/assets/media/Loading_2.gif"  style="margin: 0 auto;" width="40px" alt="">
                    </div>    
                    <div id="list-empty">

                    </div>
                </div>
                <!--end::Table container-->
            </div>
            <!--begin::Body-->
        </div>
        <!--end::Tables Widget 11-->
        <!--begin::Modal - New Target-->
        <div class="modal fade" id="add_modal" tabindex="-1" aria-hidden="true">
            <!--begin::Modal dialog-->
            <div class="modal-dialog modal-dialog-centered mw-650px" dir="rtl">
                <!--begin::Modal content-->
                <div class="modal-content rounded">
                    <!--begin::Modal header-->
                    <div class="modal-header pb-0 border-0 justify-content-end">
                        <!--begin::Close-->
                        <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                            <span class="svg-icon svg-icon-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none">
                                    <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1"
                                        transform="rotate(-45 6 17.3137)" fill="black" />
                                    <rect x="7.41422" y="6" width="16" height="2" rx="1"
                                        transform="rotate(45 7.41422 6)" fill="black" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->
                        </div>
                        <!--end::Close-->
                    </div>
                    <!--begin::Modal header-->
                    <!--begin::Modal body-->
                    <div class="modal-body scroll-y px-10 px-lg-15 pt-0 pb-15">
                        <!--begin:Form-->
                        <form class="form" name="add">
                            <!--begin::Heading-->
                            <div class="mb-13 text-center">
                                <!--begin::Title-->
                                <h1 class="mb-3">ساختن فاکتور</h1>
                                <!--end::Title-->
                                <!--begin::Description-->
                                <!-- <div class="text-muted fw-bold fs-5">If you need more info, please check
                                    <a href="#" class="fw-bolder link-primary">Project Guidelines</a>.
                                </div> -->
                                <!--end::Description-->
                            </div>
                            <!--end::Heading-->
                            <!--begin::Input group-->
                            <div class="d-flex flex-column mb-8 fv-row">
                                <!--begin::Label-->
                                <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                                    <span class="required" id="demo">انتخاب محصول</span>
                                    <i class="bi bi-info-circle ms-2 fs-7" data-bs-toggle="tooltip"
                                        title="انتخاب محصول برای افزودن به فاکتور"></i>
                                </label>
                                
                                <!--end::Label-->
                                <div class="d-flex flex-row">
                                    <select class="form-select form-select-solid" id="products" data-control="select2"
                                        data-placeholder="محصولات" data-allow-clear="true"
                                        data-dropdown-parent="#add_modal" tabindex="-1">
                                        <option></option>
                                    </select>
                                    
                                    <input type="number" value="1" class="form-control form-control-solid text-center" id="count"
                                    style="direction: rtl; width: 22%; margin-right: 5px;" placeholder="تعداد" required />
    
                                    <button id="btn-add" type="button" class="btn btn-light-primary btn-sm"
                                        style="width: 18%; margin-right: 5px;">افزودن</button>
                                </div>
                            </div>
                            <!--end::Input group-->
                            <!--begin::Input group-->
                            <!--begin::Table container-->
                            <div class="table-responsive" style="direction: rtl;">
                                <!--begin::Table-->
                                <table class="table align-middle gs-0 gy-4" id="showProduct">
                                    <!--begin::Table head-->
                                    <thead class="bg-table">
                                        <tr class="fw-bolder text-muted bg-light bg-table">
                                            <th class="ps-4 min-w-50px rounded-start">نام محصول</th>
                                            <th class="ps-4 min-w-50px">تعداد</th>
                                            <th class="ps-4 min-w-50px">قیمت</th>
                                            <th class="min-w-50px rounded-end" style="padding: 10px;"></th>
                                        </tr>
                                    </thead>
                                    <!--end::Table head-->
                                    <!--begin::Table body-->
                                    <tbody id="factor-tbody">
                                        <tr>
                                            <td>
                                                <span style="opacity: 0.7;">از باکس بالا محصولات فاکتور رو انتخاب
                                                    کن!</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <!--end::Table body-->
                                </table>
                                <!--end::Table-->
                            </div>
                            <br>
                            <!--end::Table container-->
                            <div class="d-flex flex-column mb-8 fv-row">
                                <!--begin::Label-->
                                <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                                    <span">درصد تخفیف <span style="font-size: 11px;"> (1 تا 99)</span></span>
                                        <i class="bi bi-info-circle ms-2 fs-7" data-bs-toggle="tooltip" title=""
                                            data-bs-original-title="درصد تخفیفی که میخوای روی فاکتوراعمال بشه رو بگو"
                                            aria-label="عنوانی برای محصولت باید اینجا بنویسی"></i>
                                </label>
                                <!--end::Label-->
                                <input id="offPercent" style="text-align: right;" type="number" min="1" max="99"
                                    class="form-control form-control-solid" required="">
                            </div>
                            <!--end::Input group-->
                            <!--end::Actions-->
                        </form>
                        <br>
                        <div class="text-center">
                            <button data-bs-dismiss="modal" class="btn btn-light me-3">صرف نظر</button>
                            <button class="btn btn-primary" id="submit"">
                            <span class=" indicator-label">ساخت فاکتور</span>
                                <span class="indicator-progress">یه کم صبر
                                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                            </button>
                        </div>
                        <!--end:Form-->
                    </div>
                    <!--end::Modal body-->
                </div>
                <!--end::Modal content-->
            </div>
            <!--end::Modal dialog-->
        </div>
        <!--end::Modal - New Target-->
        <!--begin::Modal - showInfo-->
        <div class="modal fade" id="show_modal" tabindex="-1" aria-hidden="true">
            <!--begin::Modal dialog-->
            <div class="modal-dialog modal-dialog-centered mw-650px" dir="rtl">
                <!--begin::Modal content-->
                <div class="modal-content rounded">
                    <!--begin::Modal header-->
                    <div class="modal-header pb-0 border-0 justify-content-end">
                        <!--begin::Close-->
                        <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                            <span class="svg-icon svg-icon-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none">
                                    <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1"
                                        transform="rotate(-45 6 17.3137)" fill="black" />
                                    <rect x="7.41422" y="6" width="16" height="2" rx="1"
                                        transform="rotate(45 7.41422 6)" fill="black" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->
                        </div>
                        <!--end::Close-->
                    </div>
                    <!--begin::Modal header-->
                    <!--begin::Modal body-->
                    <div class="modal-body scroll-y px-10 px-lg-15 pt-0 pb-15">
                        <!--begin:Form-->
                        <form class="form" name="show">
                            <!--begin::Heading-->
                            <div class="mb-13 text-center">
                                <!--begin::Title-->
                                <h1 class="mb-3">مشخصات فاکتور</h1>
                                <!--end::Title-->
                                <!--begin::Description-->
                                <!-- <div class="text-muted fw-bold fs-5">If you need more info, please check
                                    <a href="#" class="fw-bolder link-primary">Project Guidelines</a>.
                                </div> -->
                                <!--end::Description-->
                            </div>
                            <!--end::Heading-->
                            <!--begin::Input group-->
                            <div class="d-flex flex-column mb-8 fv-row">
                                <div class="card card-flush shadow-sm">
                                    <div class="card-header">
                                        <h1 class="card-title">کد فاکتور : <span class="card-title ms-2" id="factorCode"></span></h1>
                                        <h1 class="card-title">وضعیت : <span class="card-title ms-2" id="factorCondition"></span></h1>
                                    </div>
                                </div>
                            </div>
                            <!--end::Input group-->
                            <!--begin::Input group-->
                            <!--begin::Table container-->
                            <div class="table-responsive" style="direction: rtl;">
                                <!--begin::Table-->
                                <table class="table align-middle gs-0 gy-4" id="showProduct">
                                    <!--begin::Table head-->
                                    <thead class="bg-table">
                                        <tr class="fw-bolder text-muted bg-light bg-table">
                                            <th class="ps-4 min-w-50px rounded-start">نام محصول</th>
                                            <th class="min-w-50px rounded-end text-center" style="padding: 10px;">قیمت
                                            </th>
                                        </tr>
                                    </thead>
                                    <!--end::Table head-->
                                    <!--begin::Table body-->
                                    <tbody id="show-factor">
                                    </tbody>
                                    <!--end::Table body-->
                                </table>
                                <!--end::Table-->
                            </div>
                            <br>
                            <!--end::Table container-->
                            <div class="d-flex flex-column mb-8 fv-row">
                                <div id="offerPrice" class="d-flex align-items-center" style="margin-right: 10px;">
                                    <div class="d-flex justify-content-start">
                                        <span class="text-dark fw-bolder text-hover-primary mb-1 fs-6" id="sumPrice">
                                        </span>
                                    </div>
                                    <div class="d-flex justify-content-end ms-auto">
                                        <span class="text-dark fw-bolder text-hover-primary mb-1 fs-6" id="offer-Price"
                                            style="margin-left: 10px;">
                                        </span>
                                    </div>
                                </div>
                                <div id="pricefinal"
                                    class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 mt-5 position-relative"
                                    style="overflow: hidden; z-index: 1 !important;">
                                    <!--begin::Number-->
                                    <div class="d-flex align-items-center justify-content-center" id="final-Price">
                                    </div>
                                    <!--end::Number-->

                                    <!--begin::Label-->
                                    <div class="fw-bold fs-6 text-center">قیمت نهایی</div>
                                    <!--end::Label-->
                                </div>
                            </div>
                            <!--end::Input group-->
                            <!--end::Actions-->
                        </form>
                        <br>
                        <div class="text-center">
                            <button class="btn btn-info me-3" id="copyBtn"><i class="fas fa-solid fa-copy"></i>ذخیره در کلیبورد</button>
                            <button data-bs-dismiss="modal" class="btn btn-light me-3">باشه;)</button>
                        </div>
                        <!--end:Form-->
                    </div>
                    <!--end::Modal body-->
                </div>
                <!--end::Modal content-->
            </div>
            <!--end::Modal dialog-->
        </div>
        <!--end::Modal - showInfo-->
        <!-- edit modal -->
        <div class="modal fade" id="update_modal" tabindex="-1" aria-hidden="true">
            <!--begin::Modal dialog-->
            <div class="modal-dialog modal-dialog-centered mw-650px">
                <!--begin::Modal content-->
                <div class="modal-content rounded">
                    <!--begin::Modal header-->
                    <div class="modal-header pb-0 border-0 justify-content-end">
                        <!--begin::Close-->
                        <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                            <span class="svg-icon svg-icon-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none">
                                    <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1"
                                        transform="rotate(-45 6 17.3137)" fill="black" />
                                    <rect x="7.41422" y="6" width="16" height="2" rx="1"
                                        transform="rotate(45 7.41422 6)" fill="black" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->
                        </div>
                        <!--end::Close-->
                    </div>
                    <!--begin::Modal header-->
                    <!--begin::Modal body-->
                    <div class="modal-body scroll-y px-10 px-lg-15 pt-0 pb-15">
                        <!--begin:Form-->
                        <form class="form" name="update">
                            <!--begin::Heading-->
                            <div class="mb-13 text-center">
                                <!--begin::Title-->
                                <h1 class="mb-3">بروزرسانی</h1>
                                <!--end::Title-->
                                <!--begin::Description-->
                                <!-- <div class="text-muted fw-bold fs-5">If you need more info, please check
                                    <a href="#" class="fw-bolder link-primary">Project Guidelines</a>.
                                </div> -->
                                <!--end::Description-->
                            </div>
                            <!--end::Heading-->
                            <!--begin::Input group-->
                            <div class="d-flex flex-column mb-8 fv-row">
                                <!--begin::Label-->
                                <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                                    <span class="required">Title</span>
                                    <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip"
                                        title="Specify a target name for future usage and reference"></i>
                                </label>
                                <!--end::Label-->
                                <input id="title" type="text" class="form-control form-control-solid"
                                    placeholder="Enter App Title" required />
                            </div>
                            <!--end::Input group-->
                            <!--begin::Input group-->
                            <div class="d-flex flex-column mb-5 fv-row">
                                <!--begin::Label-->
                                <label class="required fs-5 fw-bold mb-2">
                                    Description</label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                <textarea class="form-control form-control-solid" rows="3" id="description"
                                    placeholder="Describe your App"></textarea>
                                <!--end::Input-->
                            </div>
                            <div class="d-flex flex-column mb-5 fv-row">
                                <label for="images" class="drop-container" id="dropcontainer">
                                    <span class="drop-title">Drop files here</span>
                                    or
                                    <input type="file" id="image" required>
                                </label>
                            </div>
                            <!--end::Input group-->
                            <!--begin::Actions-->

                            <!--end::Actions-->
                        </form>
                        <div class="text-center">
                            <button data-bs-dismiss="modal" class="btn btn-light me-3">Cancel</button>
                            <button class="btn btn-primary" id="submit"">
                            <span class=" indicator-label">Submit</span>
                                <span class="indicator-progress">Please wait...
                                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                            </button>
                        </div>
                        <!--end:Form-->
                    </div>
                    <!--end::Modal body-->
                </div>
                <!--end::Modal content-->
            </div>
            <!--end::Modal dialog-->
        </div>
    </div>
    <script src="assets/js/jquery.js"></script>
    <script>
         MagicRequest("post", "products/get-by-filter",{"pageNumber" : 1,"pageSize" : 200}, false, true).then(response => response.text())
            .then(result => {
                result = JSON.parse(result)?.result?.items
          
                $.each(result, function (index, value) {
                        // if (index == 0) $("#add #categories_id").append('<option value="' + value.id + '" selected>' + value.title + '</option> ') else
                        $("#products").append('<option value="' + value.id + '">' + value.title + '</option> ')
           
                })
            }).catch(error => console.log('error', error));

        MagicRequest("post", "factors/get-by-filter",{"pageNumber" : 1,"pageSize" : 200}, false, true).then(response => response.text())
            .then(result => {
                result = JSON.parse(result)?.result?.items;
                console.log(result)
                $("#loading").hide()

                if(!result){
                    $("#list-empty").append("<p class='alert alert-dismissible bg-light-primary d-flex flex-column flex-sm-row w-100 p-5 mb-10'>هنوز چیزی نساختی! از طریق دکمه افزودن فاکتور اولین فاکتورتو بساز:)</p>")
                }
                // console.log(result)
                $.each(result, function (index, value) {
                    let statusfactor;
                    let offPercent = "ندارد"
                    if (value.offPercent) offPercent = '<span class="badge badge-light-info">' + value.offPercent + '%</span>'
                    console.log(value.offPercent)
                    if (value.status == 1) statusfactor = '<span class="badge badge-info">ایجاد شده</span>'
                    else if (value.status == 2) statusfactor = '<span class="badge badge-primary"> در انتظار پرداخت </span>'
                    else if (value.status == 3) statusfactor = '<span class="badge badge-danger"> انصراف از پرداخت </span>'
                    else if (value.status == 4) statusfactor = '<span class="badge badge-warning"> منقضی شده </span>'
                    else if (value.status == 5) statusfactor = '<span class="badge badge-success"> پرداخت شده </span>'
                    else if (value.status == 6) statusfactor = '<span class="badge badge-primary"> تایید شده </span>'
                    else if (value.status == 7) statusfactor = '<span class="badge badge-success"> ارسال شده</span>'
                    else if (value.status == 8) statusfactor = '<span class="badge badge-success"> دریافت شده </span>'

                    $("#tbody-table").append(' <tr> <td> <div class="d-flex align-items-center" style="margin-right: 10px;"> <div class="d-flex justify-content-start flex-column"> <span class="mb-1 fs-6 badge badge-light" style="cursor: pointer;" code="' + value.code + '" id="clipboard">dastakapp.ir/factors/' + value.code + '</span> </div> </div> </td> <td> <div class="d-flex align-items-center justify-content-center" style="margin-right: 10px;"> <div class="d-flex justify-content-center flex-column"> <span class="text-hover-primary mb-1 fs-6"> ' + offPercent + ' </span> </div> </div> </td> <td> <div class="d-flex align-items-center justify-content-center" style="margin-right: 10px;"> <div class="d-flex justify-content-center flex-column"> <span class="text-dark fw-bolder text-hover-primary mb-1 fs-6"> ' + statusfactor + ' </span> </div> </div> </td> <td class="text-end"> <button type="button" code="'+ value.code +'" id="showmodal" data-bs-toggle="modal" data-bs-target="#show_modal" class="btn btn-dark p-3"><i class="fas fa-regular fa-eye"></i> مشاهده فاکتور </button> </td> </tr> ')
                })
            }).catch(error => console.log('error', error));

            function separate(Number){
                Number+= '';
                Number= Number.replace(',', '');
                x = Number.split('.');
                y = x[0];
                z= x.length > 1 ? '.' + x[1] : '';
                var rgx = /(\d+)(\d{3})/;
                while (rgx.test(y))
                y= y.replace(rgx, '$1' + ',' + '$2');
                return y+ z;
                }
            $(document).on("click","#showmodal",function(){
                let code = (this.getAttribute("code"))
                $("#factorCode").empty();
                $("#show-factor").empty();
                $("#sumPrice").empty();
                $("#offer-Price").empty();
                $("#final-Price").empty();
                $("#factorCondition").empty();
                MagicRequest("get", "factors/"+code).then(response => response.text())
                .then(result => {
                    result = JSON.parse(result)?.result;
                    $("#copyBtn").attr("factor_code_copy", result.code)
                    let sum = 0;
                    let statusfactor;
                    if (result.status == 1) statusfactor = '<span class="badge badge-info">ایجاد شده</span>'
                    else if (result.status == 2) statusfactor = '<span class="badge badge-primary"> در انتظار پرداخت </span>'
                    else if (result.status == 3) statusfactor = '<span class="badge badge-danger"> انصراف از پرداخت </span>'
                    else if (result.status == 4) statusfactor = '<span class="badge badge-warning"> منقضی شده </span>'
                    else if (result.status == 5) statusfactor = '<span class="badge badge-success"> پرداخت شده </span>'
                    else if (result.status == 6) statusfactor = '<span class="badge badge-primary"> تایید شده </span>'
                    else if (result.status == 7) statusfactor = '<span class="badge badge-success"> ارسال شده</span>'
                    else if (result.status == 8) statusfactor = '<span class="badge badge-success"> دریافت شده </span>'

                    $("#factorCode").append('<span class="badge badge-light-info fs-5">'+ result.code +'</span>')
                    $("#factorCondition").append(statusfactor)
                    $.each(result.products, function (index, value) {
                        sum += parseInt(value.price);
                        // console.log(value)
                        $("#show-factor").append(' <tr> <td> <div class="d-flex align-items-center" style="margin-right: 10px;"> <div class="d-flex justify-content-start flex-column"><span class="text-hover-primary mb-1 fs-6">'+ value.title +'</span> </div> </div> </td> <td class="d-flex align-items-center justify-content-center"> <div class="d-flex align-items-center"> <div class="d-flex justify-content-start flex-column"><span class="text-hover-primary mb-1 fs-6">'+ separate(value.price) +'</span> </div> </div> </td> </tr>" ');
                    })
                    let finalPrice = sum/100*(100-result.offPercent)
                    $("#sumPrice").append('<span class="badge badge-light">مجموع:<span class="badge text-info"> '+ separate(sum) +' تومان </span></span>')
                    $("#offer-Price").append('<span class="badge badge-light">تخفیف:<span class="badge text-muted">'+ result.offPercent +'%</span> </span>')
                    $("#final-Price").append('<div class="fs-2 fw-bolder text-primary">'+ separate(finalPrice) +'</div> <span class="text-primary ms-2 fs-2 fw-bolder">تومان</span> ')

                }).catch(error => console.log('error', error));
            })
        let number = 1
        let factor_list = []
        function deletepro(id) {
            $("#pro-" + id).remove()
            let new_arr = []
            $.each(factor_list, function (index, value) {
                // console.log(value.number)
                // console.log(id)
                // console.log("---------")
                if (value.number != id)
                    new_arr.push(value)
            })
            factor_list = new_arr
            // console.log(factor_list)
        }
        function clipboard(code) {
            navigator.clipboard.writeText("dastakapp.ir/factor/" + code);
            toastr.success("<a style='font-size: 12px' href='http://dastakapp.ir/factor/" + code + "'>" + code + "</a>" + " : لینک فاکتور در کلیپ بورد کپی شد");
        }

        $(document).ready(function () {
            $(document).on("click", "#clipboard", function () {
                clipboard(this.getAttribute("code"))
            })
            $("#btn-add").click(function () {
                let product_id = $("#products").val()

                if (!product_id)
                    toastr.error("!اول یکی از محصولاتت رو انتخاب کن")
                else MagicRequest("get", "products/" + product_id).then(response => response.text())
                    .then(result => {
                        result = JSON.parse(result).result
                        // console.log(result)
                        if (factor_list.length == 0)
                            $("#factor-tbody").empty()
                        count = parseInt($("#count").val())
                        result.count = count

                        $("#factor-tbody").append('<tr id="pro-' + number + '"><td> <div class="d-flex align-items-center" style="margin-right: 10px;"><div class="d-flex justify-content-start flex-column"><span class="text-hover-primary mb-1 fs-6">' + result.title + '</span> </div> </div> </td> <td> <div class="d-flex align-items-center" style="margin-right: 10px;"> '+count+'</div> </td> <td class="d-flex align-items-center"> <div class="d-flex align-items-center"><div class="d-flex justify-content-start flex-column"><span class="text-hover-primary mb-1 fs-6">' + separate(result.price * count) + '</span> </div> </div> </td> <td class="text-end"> <span class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm" onclick="deletepro(' + number + ')"> <span class="svg-icon svg-icon-3"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"> <path d="M5 9C5 8.44772 5.44772 8 6 8H18C18.5523 8 19 8.44772 19 9V18C19 19.6569 17.6569 21 16 21H8C6.34315 21 5 19.6569 5 18V9Z" fill="black" /> <path opacity="0.5" d="M5 5C5 4.44772 5.44772 4 6 4H18C18.5523 4 19 4.44772 19 5V5C19 5.55228 18.5523 6 18 6H6C5.44772 6 5 5.55228 5 5V5Z" fill="black" /> <path opacity="0.5" d="M9 4C9 3.44772 9.44772 3 10 3H14C14.5523 3 15 3.44772 15 4V4H9V4Z" fill="black" /> </svg> </span> </span> </td> </tr>"')
                        factor_list.push({ number, ...result })
                        number++
                        console.log(factor_list)
                        toastr.success("(:محصول به فاکتورت اضافه شد");
                    }).catch(error => console.log('error', error));
            })

            $("#copyBtn").click(()=>{
                    clipboard($("#copyBtn").attr("factor_code_copy"))
                    })

            $("#submit").click(function () {
                let offPercent = parseInt($("#offPercent").val()) || null
                // console.log(offPercent)

                let product_list = []
                $.each(factor_list, function (index, value) {
                    product_list.push({id: value.id, count: value.count})
                })

                let factor_data = {
                    "products": product_list,
                    "OffPercent": offPercent
                }

                if (factor_list.length >= 1)
                    MagicRequest("post", "factors", factor_data, false)
                        .then(result => {
                            let data = result?.result
                            let factor_code = result?.result?.code
                            // Select the text field
                            navigator.clipboard.writeText("dastakapp.ir/factor/" + factor_code);

                            toastr.success(factor_code + ": لینک فاکتور در کلیپ بورد کپی شد");
                            setTimeout(function () { location.reload() }, 2500)
                        }).catch(error => console.log('error', error));
                else {
                    toastr.error("!فاکتور شما هنوز خالیه")
                }
            })
            $(document).ready(function() {
                $('#offPercent').on('input', function() {
                    if (parseInt($(this).val(), 10) > 99) {
                        toastr.error("!بیشتر از 99 درصد نمیتونی وارد کنی");

                        $(this).val('1');
                    }
                });
            });

        })

    </script>
    <%- include('../layout-admin/footer') -%>