<%- include('../layout-admin/header') -%>
    <!--begin::Header-->
    <div id="kt_header" dir="rtl" class="header py-6 py-lg-0" data-kt-sticky="true" data-kt-sticky-name="header"
        data-kt-sticky-offset="{lg: '300px'}">
        <!--begin::Container-->
        <div class="header-container container-xxl">
            <!--begin::Page title-->
            <div
                class="page-title d-flex flex-column align-items-start justify-content-center flex-wrap me-lg-20 py-3 py-lg-0 ms-3">
                <!--begin::Heading-->
                <h1 class="d-flex flex-column text-dark fw-bolder my-1">
                    <span class="text-white fs-1">خوش آمدید</span>
                    <small class="text-gray-600 fs-6 fw-normal pt-2">اینجا میتونی به صفحه هات دسترسی داشته باشی</small>
                </h1>
                <!--end::Heading-->
            </div>
            <!--end::Page title=-->
        </div>
        <!--end::Container-->
        <div class="header-offset"></div>
    </div>
    <!--end::Header-->
    <!--begin::Wrapper-->
    <div dir="rtl" class="row align-items-center justify-content-center mt-5">
        <!--begin::Row-->
        <div class="col-10">
            <div class="row">
                <!--begin::Col-->
                <div class="col-xl-12 col-12">
                    <!--begin::Misc Widget 1-->
                    <div class="row mb-5 mb-xl-10 g-5 g-xl-8">
                        <div class="col-6 col-lg-3">
                            <div class="card card-stretch">
                                <a href="/admin/home"
                                    class="btn btn-flex btn-text-gray-800 btn-icon-gray-400 btn-active-color-primary bg-body flex-column justify-content-center align-items-center text-center w-100 p-10">
                                    <!--begin::Svg Icon | path: icons/duotune/ecommerce/ecm002.svg-->
                                    <span class="svg-icon svg-icon-3x mb-5">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none">
                                            <rect x="2" y="2" width="9" height="9" rx="2" fill="black" />
                                            <rect opacity="0.5" x="13" y="2" width="9" height="9" rx="2" fill="black" />
                                            <rect opacity="0.5" x="13" y="13" width="9" height="9" rx="2"
                                                fill="black" />
                                            <rect opacity="0.5" x="2" y="13" width="9" height="9" rx="2" fill="black" />
                                        </svg>
                                    </span>
                                    <!--end::Svg Icon-->
                                    <span class="fs-4 fw-bolder">داشبورد</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div class="card card-stretch">
                                <a href="/admin/product"
                                    class="btn btn-flex btn-text-gray-800 btn-icon-gray-400 btn-active-color-primary bg-body flex-column justify-content-center align-items-center text-center w-100 p-10">
                                    <!--begin::Svg Icon | path: icons/duotune/technology/teh008.svg-->
                                    <span class="svg-icon svg-icon-3x mb-5">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none">
                                            <path opacity="0.5"
                                                d="M20 22H4C3.4 22 3 21.6 3 21V2H21V21C21 21.6 20.6 22 20 22Z"
                                                fill="black" />
                                            <path
                                                d="M12 14C9.2 14 7 11.8 7 9V5C7 4.4 7.4 4 8 4C8.6 4 9 4.4 9 5V9C9 10.7 10.3 12 12 12C13.7 12 15 10.7 15 9V5C15 4.4 15.4 4 16 4C16.6 4 17 4.4 17 5V9C17 11.8 14.8 14 12 14Z"
                                                fill="black" />
                                        </svg>
                                    </span>
                                    <!--end::Svg Icon-->
                                    <span class="fs-4 fw-bolder">محصولات</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div class="card card-stretch">
                                <a href="/admin/grouping"
                                    class="btn btn-flex btn-text-gray-800 btn-icon-gray-400 btn-active-color-primary bg-body flex-column justify-content-center align-items-center text-center w-100 p-10">
                                    <!--begin::Svg Icon | path: icons/duotune/technology/teh004.svg-->
                                    <span class="svg-icon svg-icon-muted svg-icon-2hx svg-icon svg-icon-3x mb-5"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="16" height="15"
                                        viewBox="0 0 16 15" fill="none">
                                        <rect y="6" width="16" height="3" rx="1.5" fill="black" />
                                        <rect opacity="0.3" y="12" width="8" height="3" rx="1.5" fill="black" />
                                        <rect opacity="0.3" width="12" height="3" rx="1.5" fill="black" />
                                    </svg></span>
                                    <!--end::Svg Icon-->
                                    <span class="fs-4 fw-bolder">دسته بندی</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div class="card card-stretch">
                                <a href="/admin/factor"
                                    class="btn btn-flex btn-text-gray-800 btn-icon-gray-400 btn-active-color-primary bg-body flex-column justify-content-center align-items-center text-center w-100 p-10">
                                    <!--begin::Svg Icon | path: icons/duotune/abstract/abs025.svg-->
                                    <span class="svg-icon svg-icon-muted svg-icon-2hx svg-icon svg-icon-3x mb-5"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        viewBox="0 0 24 24" fill="none">
                                        <path opacity="0.3" fill-rule="evenodd" clip-rule="evenodd"
                                            d="M2 4.63158C2 3.1782 3.1782 2 4.63158 2H13.47C14.0155 2 14.278 2.66919 13.8778 3.04006L12.4556 4.35821C11.9009 4.87228 11.1726 5.15789 10.4163 5.15789H7.1579C6.05333 5.15789 5.15789 6.05333 5.15789 7.1579V16.8421C5.15789 17.9467 6.05333 18.8421 7.1579 18.8421H16.8421C17.9467 18.8421 18.8421 17.9467 18.8421 16.8421V13.7518C18.8421 12.927 19.1817 12.1387 19.7809 11.572L20.9878 10.4308C21.3703 10.0691 22 10.3403 22 10.8668V19.3684C22 20.8218 20.8218 22 19.3684 22H4.63158C3.1782 22 2 20.8218 2 19.3684V4.63158Z"
                                            fill="black" />
                                        <path
                                            d="M10.9256 11.1882C10.5351 10.7977 10.5351 10.1645 10.9256 9.77397L18.0669 2.6327C18.8479 1.85165 20.1143 1.85165 20.8953 2.6327L21.3665 3.10391C22.1476 3.88496 22.1476 5.15129 21.3665 5.93234L14.2252 13.0736C13.8347 13.4641 13.2016 13.4641 12.811 13.0736L10.9256 11.1882Z"
                                            fill="black" />
                                        <path
                                            d="M8.82343 12.0064L8.08852 14.3348C7.8655 15.0414 8.46151 15.7366 9.19388 15.6242L11.8974 15.2092C12.4642 15.1222 12.6916 14.4278 12.2861 14.0223L9.98595 11.7221C9.61452 11.3507 8.98154 11.5055 8.82343 12.0064Z"
                                            fill="black" />
                                    </svg></span>
                                    <!--end::Svg Icon-->
                                    <span class="fs-4 fw-bolder">ساخت فاکتور</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--end::Misc Widget 1-->
                </div>
                <!--end::Col-->
            </div>
            <!--end::Row-->
        </div>
        <div class="col-10">
            <div class="row">
                <!--begin::Col-->
                <div class="col-xl-12 col-12">
                    <div class="rounded border p-10">
                        <!--begin:Form-->
                        <form class="form" >
                            <!--begin::Heading-->
                            <div class="mb-13 text-center">
                                <!--begin::Title-->
                                <h1 class="mb-3" id="titleFormCard">افزودن کارت بانکی</h1>
                            </div>
                            <!--end::Heading-->
                            <!--begin::Input group-->
                            <div class="d-flex flex-column mb-8 fv-row">
                                <!--begin::Label-->
                                <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                                    <span id="titleCard" class="required">شماره کارت: </span>
                                    <i class="bi bi-info-circle ms-2 fs-7" data-bs-toggle="tooltip" id="iconCard"
                                        title="اینجا باید شماره کارتت رو وارد کنی"></i>
                                    <span id="titleCard-after" style="display: none;">شماره کارتت: </span>
                                </label>
                                <!--end::Label-->
                                <input type="number" class="form-control form-control-solid" id="cardNumber"
                                    style="direction: rtl;" placeholder="شماره کارتت رو وارد کن" required />
                                <div class="btn btn-light-info w-100" id="showCardNumber" style="display: none;"></div>    
                            </div>
                            <!--end::Input group-->
                            <!--begin::Input group-->
                            <div class="fv-row mb-7">
                                <!--begin::Label-->
                                <label id="cardNameTitle" class="required fs-6 fw-bold mb-2">به نام: </label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                <input type="text" id="cardName" class="form-control form-control-solid" placeholder="این کارتی که میخوای اضافه کنی به نامشو بگو" />
                                <!--end::Input-->
                                <div class="btn btn-light-info w-100" id="showCardName" style="display: none;"></div>    
                            </div>
                            <!--end::Input group-->
                        </form>
                        <br>
                        <div class="text-center">
                            <button class="btn btn-primary" id="submit">
                            <span class=" indicator-label">افزودن</span>
                                <span class="indicator-progress">یه کم صبر
                                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                            </button>
                            <button class="btn btn-info" id="edit" style="display: none;">
                            <span class=" indicator-label">ویرایش</span>
                                <span class="indicator-progress">یه کم صبر
                                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                            </button>
                        </div>
                        <!--end:Form-->
                    </div>                
                </div>
                <!--end::Col-->
            </div>
            <!--end::Row-->
        </div>
    </div>
    <!--end::Wrapper-->
    <%- include('../layout-admin/footer') -%>
    <script src="assets/js/jquery.js"></script>
    <script>
        $(document).ready(function(){
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-center",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
                };
        })
        function formatCreditCard(cardNumber) {
            cardNumber = cardNumber.replace(/\s/g, '');
            const formattedCard = cardNumber.match(/.{1,4}/g).join(' ');
            return formattedCard;
        }
        $("#submit").click(()=>{
            if($("#cardNumber").val().length != 16){
                toastr.error("!شماره کارت نامعتبره");
            }
            else{
                if($("#cardName").val() == null || $("#cardName").val() == ""){
                    toastr.error("!لطفا نام صاحب کارتی که نوشتی رو وارد کن");
                }
                else if($("#cardName").val().length <= 5){
                    toastr.error("!لطفا از نوشتن نام کامل مطمئن شو");
                }
                else{
                    toastr.success("(;شماره کارت با موفقیت اضافه شد");
                    setTimeout=(()=>{
                        $("#titleFormCard").text("مشخصات کارت بانکی")
                        $("#titleCard").hide()
                        $("#iconCard").hide()
                        $("#titleCard-after").fadeIn(500)
                        $("#cardNumber").hide()
                        $("#showCardNumber").text(formatCreditCard($("#cardNumber").val()))
                        $("#showCardNumber").fadeIn(500)
                        $("#cardNameTitle").removeClass("required")
                        $("#cardName").hide()
                        $("#showCardName").text($("#cardName").val())
                        $("#showCardName").fadeIn(500)
                        $("#submit").hide()
                        $("#edit").fadeIn(500)
                    }),500;
                }
            }
        })
    </script>
