<%- include('../layout-admin/header') -%>
    <!--begin::Header-->
    <div id="kt_header" dir="rtl" class="header py-6 py-lg-0" data-kt-sticky="true" data-kt-sticky-name="header"
        data-kt-sticky-offset="{lg: '300px'}">
        <!--begin::Container-->
        <div class="header-container container-xxl">
            <!--begin::Page title-->
            <div
                class="page-title d-flex flex-column align-items-start justify-content-center flex-wrap me-lg-20 py-3 py-lg-0 ms-3">
                <!--begin::Heading-->
                <h1 class="d-flex flex-column text-dark fw-bolder my-1">
                    <span class="text-white fs-1">خوش آمدید</span>
                    <small class="text-gray-600 fs-6 fw-normal pt-2">اینجا میتونی به صفحه هات دسترسی داشته باشی</small>
                </h1>
                <!--end::Heading-->
            </div>
            <!--end::Page title=-->
        </div>
        <!--end::Container-->
        <div class="header-offset"></div>
    </div>
    <!--end::Header-->
    <!--begin::Wrapper-->
    <div dir="rtl" class="row align-items-center justify-content-center mt-5">
        <!--begin::Row-->
        <div class="col-10">
            <div class="row">
                <!--begin::Col-->
                <div class="col-xl-12 col-12">
                    <!--begin::Misc Widget 1-->
                    <div class="row mb-5 mb-xl-10 g-5 g-xl-8">
                        <div class="col-6 col-lg-3">
                            <div class="card card-stretch">
                                <a href="/admin/home"
                                    class="btn btn-flex btn-text-gray-800 btn-icon-gray-400 btn-active-color-primary bg-body flex-column justify-content-center align-items-center text-center w-100 p-10">
                                    <!--begin::Svg Icon | path: icons/duotune/ecommerce/ecm002.svg-->
                                    <span class="svg-icon svg-icon-3x mb-5">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none">
                                            <rect x="2" y="2" width="9" height="9" rx="2" fill="black" />
                                            <rect opacity="0.5" x="13" y="2" width="9" height="9" rx="2" fill="black" />
                                            <rect opacity="0.5" x="13" y="13" width="9" height="9" rx="2"
                                                fill="black" />
                                            <rect opacity="0.5" x="2" y="13" width="9" height="9" rx="2" fill="black" />
                                        </svg>
                                    </span>
                                    <!--end::Svg Icon-->
                                    <span class="fs-4 fw-bolder">داشبورد</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div class="card card-stretch">
                                <a href="/admin/product"
                                    class="btn btn-flex btn-text-gray-800 btn-icon-gray-400 btn-active-color-primary bg-body flex-column justify-content-center align-items-center text-center w-100 p-10">
                                    <!--begin::Svg Icon | path: icons/duotune/technology/teh008.svg-->
                                    <span class="svg-icon svg-icon-3x mb-5">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none">
                                            <path opacity="0.5"
                                                d="M20 22H4C3.4 22 3 21.6 3 21V2H21V21C21 21.6 20.6 22 20 22Z"
                                                fill="black" />
                                            <path
                                                d="M12 14C9.2 14 7 11.8 7 9V5C7 4.4 7.4 4 8 4C8.6 4 9 4.4 9 5V9C9 10.7 10.3 12 12 12C13.7 12 15 10.7 15 9V5C15 4.4 15.4 4 16 4C16.6 4 17 4.4 17 5V9C17 11.8 14.8 14 12 14Z"
                                                fill="black" />
                                        </svg>
                                    </span>
                                    <!--end::Svg Icon-->
                                    <span class="fs-4 fw-bolder">محصولات</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div class="card card-stretch">
                                <a href="/admin/grouping"
                                    class="btn btn-flex btn-text-gray-800 btn-icon-gray-400 btn-active-color-primary bg-body flex-column justify-content-center align-items-center text-center w-100 p-10">
                                    <!--begin::Svg Icon | path: icons/duotune/technology/teh004.svg-->
                                    <span class="svg-icon svg-icon-muted svg-icon-2hx svg-icon svg-icon-3x mb-5"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="16" height="15"
                                        viewBox="0 0 16 15" fill="none">
                                        <rect y="6" width="16" height="3" rx="1.5" fill="black" />
                                        <rect opacity="0.3" y="12" width="8" height="3" rx="1.5" fill="black" />
                                        <rect opacity="0.3" width="12" height="3" rx="1.5" fill="black" />
                                    </svg></span>
                                    <!--end::Svg Icon-->
                                    <span class="fs-4 fw-bolder">دسته بندی</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div class="card card-stretch">
                                <a href="/admin/factor"
                                    class="btn btn-flex btn-text-gray-800 btn-icon-gray-400 btn-active-color-primary bg-body flex-column justify-content-center align-items-center text-center w-100 p-10">
                                    <!--begin::Svg Icon | path: icons/duotune/abstract/abs025.svg-->
                                    <span class="svg-icon svg-icon-muted svg-icon-2hx svg-icon svg-icon-3x mb-5"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        viewBox="0 0 24 24" fill="none">
                                        <path opacity="0.3" fill-rule="evenodd" clip-rule="evenodd"
                                            d="M2 4.63158C2 3.1782 3.1782 2 4.63158 2H13.47C14.0155 2 14.278 2.66919 13.8778 3.04006L12.4556 4.35821C11.9009 4.87228 11.1726 5.15789 10.4163 5.15789H7.1579C6.05333 5.15789 5.15789 6.05333 5.15789 7.1579V16.8421C5.15789 17.9467 6.05333 18.8421 7.1579 18.8421H16.8421C17.9467 18.8421 18.8421 17.9467 18.8421 16.8421V13.7518C18.8421 12.927 19.1817 12.1387 19.7809 11.572L20.9878 10.4308C21.3703 10.0691 22 10.3403 22 10.8668V19.3684C22 20.8218 20.8218 22 19.3684 22H4.63158C3.1782 22 2 20.8218 2 19.3684V4.63158Z"
                                            fill="black" />
                                        <path
                                            d="M10.9256 11.1882C10.5351 10.7977 10.5351 10.1645 10.9256 9.77397L18.0669 2.6327C18.8479 1.85165 20.1143 1.85165 20.8953 2.6327L21.3665 3.10391C22.1476 3.88496 22.1476 5.15129 21.3665 5.93234L14.2252 13.0736C13.8347 13.4641 13.2016 13.4641 12.811 13.0736L10.9256 11.1882Z"
                                            fill="black" />
                                        <path
                                            d="M8.82343 12.0064L8.08852 14.3348C7.8655 15.0414 8.46151 15.7366 9.19388 15.6242L11.8974 15.2092C12.4642 15.1222 12.6916 14.4278 12.2861 14.0223L9.98595 11.7221C9.61452 11.3507 8.98154 11.5055 8.82343 12.0064Z"
                                            fill="black" />
                                    </svg></span>
                                    <!--end::Svg Icon-->
                                    <span class="fs-4 fw-bolder">ساخت فاکتور</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--end::Misc Widget 1-->
                </div>
                <!--end::Col-->
            </div>
            <!--end::Row-->
        </div>
        <div class="col-10">
            <div class="row">
                <!--begin::Col-->
                <div class="col-xl-12 col-12">                  
                    <div class="card card-flush shadow-sm my-10">
                        <div class="card-header justify-content-center">
                            <h3 class="card-title justify-content-center fw-bolder" style="font-size: 22px;" id="titleFormCard">افزودن کارت بانکی</h3>
                        </div>
                        <div style="display: flex;" id="loading">
                            <img src="/assets/media/Loading_2.gif"  style="margin: 0 auto;" width="40px" alt="">
                        </div>
                        <div class="card-body py-5" id="bank-body" style="display: none;">
                            <div class="d-flex w-100 justify-content-center" id="card">
                                <div class="card-money" id="card-number" style="display: none;">
                                    <div class="card-inner-money">
                                        <div class="card-front-money">
                                        <div class="card-bg-money"></div>
                                        <div class="card-glow-money"></div>
                                        <div class="card-contactless-money">
                                            <h1>دستک کارت</h1>
                                        </div>
                                        <div class="card-chip-money"></div>
                                        <div class="card-holder-money">موجودی : 0 تومان</div>
                                        <div class="card-number-money" id="showCardNumber" dir="ltr"></div>
                                        <div class="card-valid-money" id="showCardName"></div>
                                        </div>
                                    </div>
                                </div>        
                            </div>
                            <form class="form" id="form-check" >
                                <!--begin::Input group-->
                                <div class="d-flex flex-column mb-8 fv-row">
                                    <!--begin::Label-->
                                    <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                                        <span id="titleCard" class="required">شماره کارت: </span>
                                        <i class="bi bi-info-circle ms-2 fs-7" data-bs-toggle="tooltip" id="iconCard"
                                            title="اینجا باید شماره کارتت رو وارد کنی"></i>
                                    </label>
                                    <!--end::Label-->
                                    <input type="number" class="form-control form-control-solid" id="cardNumber"
                                        style="direction: rtl;" placeholder="شماره کارتت رو وارد کن" required />
                                </div>
                                <div id="message" class="alert" style="display: none;"></div>
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="fv-row mb-7">
                                    <!--begin::Label-->
                                    <label id="cardNameTitle" class="required fs-6 fw-bold mb-2">به نام: </label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input type="text" id="cardName" class="form-control form-control-solid" placeholder="این کارتی که میخوای اضافه کنی به نامشو بگو" />
                                    <!--end::Input-->
                                </div>
                                <div id="message-name" class="alert" style="display: none;"></div>
                                <!--end::Input group-->
                            </form>
                        </div>
                        <div class="card-footer">
                            <div class="text-center">
                                <button class="btn btn-primary" id="submit">
                                <span class=" indicator-label">افزودن</span>
                                    <span class="indicator-progress">یه کم صبر
                                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                                </button>
                                <button class="btn btn-info me-4" id="change" style="display: none;" data-bs-toggle="modal" data-bs-target="#change-card">
                                <span class=" indicator-label">تغییر شماره کارت</span>
                                    <span class="indicator-progress">یه کم صبر
                                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                                </button>
                                <button class="btn btn-success" id="checkout" style="display: none;" data-bs-toggle="modal" data-bs-target="#checkout-modal">
                                <span class=" indicator-label">برداشت موجودی</span>
                                    <span class="indicator-progress">یه کم صبر
                                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                                </button>
                            </div>    
                        </div>                    
                    </div>
                </div>
                <!--end::Col-->
            </div>
            <!--end::Row-->
        </div>
        <div class="col-10">
            <div class="row">
                <!--begin::Col-->
                <div class="col-xl-12 col-12">
                    <div class="card card-flush shadow-sm my-10">
                        <div class="card-header">
                            <h3 class="card-title">تراکنش ها</h3>
                            <div class="card-toolbar">
                                <a href="/admin/payment" class="btn btn-sm btn-light">
                                    رفتن به تراکنش ها 
                                </a>
                            </div>
                        </div>
                        <div class="card-body transaction-body py-5">
                            <!-- <div class="bg-light py-4 px-4 rounded mb-4">
                                <div class="circle-with-text">
                                    <div class="circle-icon bg-danger"><i class="fas fa-minus-circle"></i></div>
                                    <div class="text-content">
                                        <h3 class="mb-1">پرداخت مشتری</h3>
                                        <p>فاکتور شما با موفقیت پرداخت شده</p>
                                    </div>
                                    <div class="price-end">
                                        <span>150/000 <span>تومان</span></span>
                                    </div>
                                </div>  
                            </div>
                            <div class="bg-light py-4 px-4 rounded mb-4">
                                <div class="circle-with-text">
                                    <div class="circle-icon bg-success"><i class="fas fa-check-circle"></i></div>
                                    <div class="text-content">
                                        <h3 class="mb-1">پرداخت مشتری</h3>
                                        <p>فاکتور شما با موفقیت پرداخت شده</p>
                                    </div>
                                    <div class="price-end">
                                        <span>150/000 <span>تومان</span></span>
                                    </div>
                                </div>  
                            </div> -->
                        </div>
                    </div>
                </div>
                <!--end::Col-->
            </div>
            <!--end::Row-->
        </div>
    </div>
    <!--end::Wrapper-->
    <!--begin::Modal - checkout-->
    <div class="modal fade" id="checkout-modal" tabindex="-1" aria-hidden="true">
        <!--begin::Modal dialog-->
        <div class="modal-dialog modal-dialog-centered mw-650px" dir="rtl">
            <!--begin::Modal content-->
            <div class="modal-content rounded">
                <!--begin::Modal header-->
                <div class="modal-header pb-0 border-0 justify-content-end">
                    <!--begin::Close-->
                    <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                        <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                        <span class="svg-icon svg-icon-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none">
                                <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1"
                                    transform="rotate(-45 6 17.3137)" fill="black" />
                                <rect x="7.41422" y="6" width="16" height="2" rx="1"
                                    transform="rotate(45 7.41422 6)" fill="black" />
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                    </div>
                    <!--end::Close-->
                </div>
                <!--begin::Modal header-->
                <!--begin::Modal body-->
                <div class="modal-body scroll-y px-10 px-lg-15 pt-0 pb-15">
                    <!--begin:Form-->
                    <form class="form" method="post" url="products/" name="add" id="add">
                        <!--begin::Heading-->
                        <div class="mb-13 text-center">
                            <!--begin::Title-->
                            <h1 class="mb-3">برداشت موجودی</h1>
                            <!--end::Title-->
                            <!--begin::Description-->
                            <!-- <div class="text-muted fw-bold fs-5">If you need more info, please check
                                <a href="#" class="fw-bolder link-primary">Project Guidelines</a>.
                            </div> -->
                            <!--end::Description-->
                        </div>
                        <!--end::Heading-->
                        <button class="btn btn-light w-100 mb-4" type="button" id="checkout-price">برداشت کل موجودی</button>
                        <!--begin::Input group-->
                        <div class="d-flex flex-column mb-8 fv-row">
                            <!--begin::Label-->
                            <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                                <span class="required">مبلغ برای برداشت :</span>
                                <i class="bi bi-info-circle ms-2 fs-7" data-bs-toggle="tooltip"
                                    title="اینجا هر مبلغی میخوای از موجودیت بنویس"></i>
                            </label>
                            <!--end::Label-->
                            <input id="price-card" type="text" style="direction: rtl;" class="form-control form-control-solid"
                                placeholder="مبلغ رو وارد کن" required />
                        </div>
                        <div id="priceAlert" class="alert alert-success" style="display: none;"></div>
                        <!--end::Input group-->
                    </form>
                    <div class="text-center">
                        <button data-bs-dismiss="modal" class="btn btn-light me-3" id="close-modal">صرف نظر</button>
                        <button class="btn btn-primary" id="submit-card">
                            <span class=" indicator-label">تایید</span>
                            <span class="indicator-progress">یه کم صبر
                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                        </button>
                    </div>
                    <!--end:Form-->
                </div>
                <!--end::Modal body-->
            </div>
            <!--end::Modal content-->
        </div>
        <!--end::Modal dialog-->
    </div>
    <!--end::Modal - checkout-->
    <!--begin::Modal - change card-->
    <div class="modal fade" id="change-card" tabindex="-1" aria-hidden="true">
        <!--begin::Modal dialog-->
        <div class="modal-dialog modal-dialog-centered mw-650px" dir="rtl">
            <!--begin::Modal content-->
            <div class="modal-content rounded">
                <!--begin::Modal header-->
                <div class="modal-header pb-0 border-0 justify-content-end">
                    <!--begin::Close-->
                    <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                        <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                        <span class="svg-icon svg-icon-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none">
                                <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1"
                                    transform="rotate(-45 6 17.3137)" fill="black" />
                                <rect x="7.41422" y="6" width="16" height="2" rx="1"
                                    transform="rotate(45 7.41422 6)" fill="black" />
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                    </div>
                    <!--end::Close-->
                </div>
                <!--begin::Modal header-->
                <!--begin::Modal body-->
                <div class="modal-body scroll-y px-10 px-lg-15 pt-0 pb-15">
                    <!--begin:Form-->
                    <form class="form" method="post" name="add" id="add">
                        <!--begin::Input group-->
                        <div class="d-flex flex-column mb-8 fv-row">
                            <!--begin::Label-->
                            <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                                <span class="required">شماره کارت: </span>
                                <i class="bi bi-info-circle ms-2 fs-7" data-bs-toggle="tooltip"
                                    title="اینجا باید شماره کارتت رو وارد کنی"></i>
                            </label>
                            <!--end::Label-->
                            <input type="number" class="form-control form-control-solid" id="cardNumber-change"
                                style="direction: rtl;" placeholder="شماره کارتت رو وارد کن" required />
                        </div>
                        <div id="message-change" class="alert" style="display: none;"></div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="fv-row mb-7">
                            <!--begin::Label-->
                            <label class="required fs-6 fw-bold mb-2">به نام: </label>
                            <!--end::Label-->
                            <!--begin::Input-->
                            <input type="text" id="cardName-change" class="form-control form-control-solid" placeholder="این کارتی که میخوای اضافه کنی به نامشو بگو" />
                            <!--end::Input-->
                        </div>
                        <div id="message-name-change" class="alert" style="display: none;"></div>
                        <!--end::Input group-->
                    </form>

                    <div class="text-center">
                        <button data-bs-dismiss="modal" class="btn btn-light me-3" id="close-modal">صرف نظر</button>
                        <button class="btn btn-primary" id="change-card-btn">
                            <span class=" indicator-label">تایید</span>
                            <span class="indicator-progress">یه کم صبر
                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                        </button>
                    </div>
                    <!--end:Form-->
                </div>
                <!--end::Modal body-->
            </div>
            <!--end::Modal content-->
        </div>
        <!--end::Modal dialog-->
    </div>
    <!--end::Modal - change card-->
    
    <%- include('../layout-admin/footer') -%>
    <!-- <script src="assets/js/jquery.js"></script> -->
    <script src="https://cdn.jsdelivr.net/gh/mahmoud-eskandari/NumToPersian/dist/num2persian-min.js"></script>
    <script>
        function formatInput(inputElement) {
            const inputValue = inputElement.value;
            const numericValue = inputValue.replace(/[^0-9]/g, '');
            
            const parts = [];
            for (let i = numericValue.length; i > 0; i -= 3) {
                parts.unshift(numericValue.slice(Math.max(i - 3, 0), i));
            }

            const formattedValue = parts.join(',');

            inputElement.value = formattedValue;
        }
        function removeCommasAndParse(numberString) {
            const numericValue = parseFloat(numberString.replace(/,/g, ''));
            return isNaN(numericValue) ? 0 : numericValue;
        }
        $('#price-card').on('input', function() {

            const inputValue = $(this).val();

            formatInput(this);
            let main = removeCommasAndParse(inputValue)
            console.log(main)

            let persianPrice = Num2persian(main);

            $('#priceAlert').text(` ${persianPrice} تومان`);
            $('#priceAlert').show();


        });


    </script>
    <script>
        let base = "https://api.dastakapp.ir/api/v1/"
        MagicRequest("post", "transactions",{"pageNumber" : 1,"pageSize" : 200}, false, true).then(response => response.text())
            .then(result => {
                result = JSON.parse(result)?.result
          
                $.each(result, function (index, value) {
                        console.log(value)
                        let type 
                        if(value.type == 1 || value.type ==2) type = '<div class="circle-icon bg-success"><i class="fas fa-check-circle"></i></div>'
                        else '<div class="circle-icon bg-danger"><i class="fas fa-minus-circle"></i></div>' 
                        // if (index == 0) $("#add #categories_id").append('<option value="' + value.id + '" selected>' + value.title + '</option> ') else
                        $(".transaction-body").append('<div class="bg-light py-4 px-4 rounded mb-4"><div class="circle-with-text">'+type+'<div class="text-content"><h3 class="mb-1">'+value.title+'</h3><p>'+value.message+'</p></div><div class="price-end"><span>'+separate(value.amount)+' <span>تومان</span></span></div></div></div>')
           
                })
            }).catch(error => console.log('error', error));
        $(document).ready(function(){
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-center",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
                };
                var myHeaders = new Headers();
					myHeaders.append("Content-Type", "application/json");
                    myHeaders.append("Authorization", "Bearer "+localStorage.getItem("token"));

					var requestOptions = {
						method: "get",
						headers: myHeaders,
						redirect: 'follow',
						'Access-Control-Allow-Origin': '*'
					};
                    
					fetch(base + "bank", requestOptions).then(response => response.text())
						.then(result => {
							result = JSON.parse(result)
							console.log(result)
                            if(result.status)
                                {
                                    // toastr.success("(;شماره کارت با موفقیت اضافه شد");
                                    // setTimeout(function(){
                                        $("#form-check").hide();
                                        $("#card-number").fadeIn(500);
                                        $("#card").addClass('p-4');
                                        $("#submit").hide();
                                        $("#change").fadeIn(500);
                                        $("#checkout").fadeIn(500);
                                        $("#titleFormCard").text('کارت بانکی ثبت شده');
                                        $("#showCardNumber").text(formatCreditCard(result.result.cardNumber));
                                        $("#showCardName").text(result.result.cardName);
                                        $(".card-holder-money").text("موجودی : " + separate(result.result.amount) + " تومان")
                                    // },500);
                                    $("#checkout-price").click(()=>{
                                        $("#price-card").val(result.result.amount)
                                    })
                                    $("#loading").hide()
                                    $("#bank-body").show()
                                }
                                else{
                                    $("#loading").hide()
                                    $("#bank-body").show()
                                }
                    }).catch(error => console.log('error', error));
        })
        function formatCreditCard(cardNumber) {
            cardNumber = cardNumber.replace(/\s/g, '');
            const formattedCard = cardNumber.match(/.{1,4}/g).join(' ');
            return formattedCard;
        }
        let result = false
        function validateAndLog(cardNumber) {
            const cardPrefix = cardNumber.substring(0, 6);
            const banks = [
                {
                    "bank_name": "بانک ملی",
                    "code": "603799"
                },
                {
                    "bank_name": "بانک سامان",
                    "code": "621986"
                },
                {
                    "bank_name": "بانک سپه",
                    "code": "589210"
                },
                {
                    "bank_name": "بانک سینا",
                    "code": "639346"
                },
                {
                    "bank_name": "بانک توسعه صادرات",
                    "code": "627648"
                },
                {
                    "bank_name": "بانک سرمایه",
                    "code": "639607"
                },
                {
                    "bank_name": "بانک صنعت و معدن",
                    "code": "627961"
                },
                {
                    "bank_name": "بانک شهر",
                    "code": "502806"
                },
                {
                    "bank_name": "بانک کشاورزی",
                    "code": "603770"
                },
                {
                    "bank_name": "بانک دی",
                    "code": "502938"
                },
                {
                    "bank_name": "بانک مسکن",
                    "code": "628023"
                },
                {
                    "bank_name": "بانک صادرات",
                    "code": "603769"
                },
                {
                    "bank_name": "پست بانک",
                    "code": "627760"
                },
                {
                    "bank_name": "بانک ملت",
                    "code": "610433"
                },
                {
                    "bank_name": "بانک توسعه تعاون",
                    "code": "502908"
                },
                {
                    "bank_name": "بانک تجارت",
                    "code": "585983"
                },
                {
                    "bank_name": "بانک اقتصاد نوین",
                    "code": "627412"
                },
                {
                    "bank_name": "بانک رفاه",
                    "code": "589463"
                },
                {
                    "bank_name": "بانک پارسیان",
                    "code": "622106"
                },
                {
                    "bank_name": "موسسه نور",
                    "code": "639370"
                },
                {
                    "bank_name": "بانک پاسارگاد",
                    "code": "502229"
                },
                {
                    "bank_name": "موسسه ملل",
                    "code": "606373"
                },
                {
                    "bank_name": "بانک قوامین",
                    "code": "639599"
                },
                {
                    "bank_name": "بانک قرض الحسنه مهر ایرانیان",
                    "code": "606256"
                },
                {
                    "bank_name": "بانک کارآفرین",
                    "code": "627488"
                },
                {
                    "bank_name": "بانک گردشگری",
                    "code": "505416"
                }
            ]
            const matchingBank = banks.find(bank => bank.code === cardPrefix);
            const userInputField = $('#cardNumber'); 
            const messageElement = $('#message');
            const userInputFieldChange = $('#cardNumber-change'); 
            const messageElementChange = $('#message-change'); 
 
            if (!matchingBank) {
                messageElement.show(100)
                userInputField.addClass('is-invalid');
                userInputField.removeClass('is-valid');

                userInputField.addClass('border-danger');
                userInputField.removeClass('border-success');

                messageElement.removeClass('alert-success').addClass('alert-danger');
                messageElement.text('شماره کارت نامعتبر است!');

                if(userInputFieldChange.val().length >0){
                //for change
                    messageElement.hide()
                    userInputField.removeClass('is-invalid');

                    userInputField.removeClass('border-danger');

                    messageElement.removeClass('alert-danger');

                    messageElementChange.show(100)
                    userInputFieldChange.addClass('is-invalid');
                    userInputFieldChange.removeClass('is-valid');

                    userInputFieldChange.addClass('border-danger');
                    userInputFieldChange.removeClass('border-success');

                    messageElementChange.removeClass('alert-success').addClass('alert-danger');
                    messageElementChange.text('شماره کارت نامعتبر است!');
                }

                result = false
            } else {
                messageElement.show(100)
                userInputField.addClass('is-valid');
                userInputField.removeClass('is-invalid');

                userInputField.addClass('border-success');
                userInputField.removeClass('border-danger');


                messageElement.removeClass('alert-danger').addClass('alert-success');
                messageElement.text(`شماره کارت متعلق به بانک ${matchingBank.bank_name} است.`);
                
                if(userInputFieldChange.val().length >0){
                    messageElement.hide()
                    userInputField.removeClass('is-valid');

                    userInputField.removeClass('border-success');

                    messageElement.removeClass('alert-success')

                    messageElementChange.show(100)
                    userInputFieldChange.addClass('is-valid');
                    userInputFieldChange.removeClass('is-invalid');

                    userInputFieldChange.addClass('border-success');
                    userInputFieldChange.removeClass('border-danger');


                    messageElementChange.removeClass('alert-danger').addClass('alert-success');
                    messageElementChange.text(`شماره کارت متعلق به بانک ${matchingBank.bank_name} است.`);
                    result = true
                }
                result = true
            }
        }
        function validateName(name) {
            const persianPattern = /^[\u0600-\u06FF\s]+$/;

            return persianPattern.test(name);
        }
        $('#cardNumber').on('input', function() {
            const inputValue = $(this).val();
            console.log(inputValue.length)

            if (inputValue.length >= 6 && inputValue.length < 17) {
                validateAndLog(inputValue);
            }
            else if(inputValue.length === 0){
                $('#message').hide(100)
                $('#cardNumber').removeClass('is-invalid');
                $('#cardNumber').removeClass('border-danger');
                result = false
            }
            else if(inputValue.length <= 6 || inputValue.length >=16){
                $('#message').show(100)
                $('#cardNumber').addClass('is-invalid');
                $('#cardNumber').removeClass('is-valid');

                $('#cardNumber').addClass('border-danger');
                $('#cardNumber').removeClass('border-success');

                $('#message').removeClass('alert-success').addClass('alert-danger');
                $('#message').text('شماره کارت نامعتبر است!');
                result = false

            }
        });
        $('#cardName').on('input', function() {
            const inputValue = $(this).val();

            if (!validateName(inputValue)) {
                $('#message-name').show(100)
                $('#message-name').addClass('alert-danger');
                $('#message-name').text('نام باید فقط شامل حروف فارسی و فاصله باشد.');
            } 
            else {
                $('#message-name').hide(100)
            }
            if(inputValue.length === null || inputValue.length === 0){
                $('#message-name').hide(100)
            }
        });
        $('#cardNumber-change').on('input', function() {
            const inputValue = $(this).val();
            console.log(inputValue.length)

            if (inputValue.length >= 6 && inputValue.length < 17) {
                validateAndLog(inputValue);
            }
            else if(inputValue.length === 0){
                $('#message-change').hide(100)
                $('#cardNumber-change').removeClass('is-invalid');
                $('#cardNumber-change').removeClass('border-danger');
                result = false
            }
            else if(inputValue.length <= 6 || inputValue.length >=16){
                $('#message-change').show(100)
                $('#cardNumber-change').addClass('is-invalid');
                $('#cardNumber-change').removeClass('is-valid');

                $('#cardNumber-change').addClass('border-danger');
                $('#cardNumber-change').removeClass('border-success');

                $('#message-change').removeClass('alert-success').addClass('alert-danger');
                $('#message-change').text('شماره کارت نامعتبر است!');
                result = false

            }
        });
        $('#cardName-change').on('input', function() {
            const inputValue = $(this).val();

            if (!validateName(inputValue)) {
                $('#message-name-change').show(100)
                $('#message-name-change').addClass('alert-danger');
                $('#message-name-change').text('نام باید فقط شامل حروف فارسی و فاصله باشد.');
            } 
            else {
                $('#message-name-change').hide(100)
            }
            if(inputValue.length === null || inputValue.length === 0){
                $('#message-name-change').hide(100)
            }
        });
        $('#change-card-btn').click(()=>{
            if($("#cardNumber-change").val().length != 16){
                toastr.error("!شماره کارت نامعتبره");
            }
            else if(result === false){
                toastr.error("کارتت معتبر نیست");
            }

            else{
                if($("#cardName-change").val().length <= 5){
                    toastr.error("!لطفا از نوشتن نام کامل مطمئن شو");
                }
                else if($("#cardName-change").val().length <= 5){
                    toastr.error("!لطفا از نوشتن نام کامل مطمئن شو");
                }
                else if(!validateName($("#cardName-change").val())){
                    toastr.error("!نامی که نوشتی فارسی نیست");
                }
                else{
                    toastr.success("(;شماره کارت با موفقیت تغییر یافت شد");
                    $("#change-card #close-modal").click()

                }
            }
        })
        $("#submit").click(()=>{
            if($("#cardNumber").val().length != 16){
                toastr.error("!شماره کارت نامعتبره");
            }
            else if(result === false){
                toastr.error("کارتت معتبر نیست");
            }

            else{
                if($("#cardName").val().length <= 5){
                    toastr.error("!لطفا از نوشتن نام کامل مطمئن شو");
                }
                else if($("#cardName").val().length <= 5){
                    toastr.error("!لطفا از نوشتن نام کامل مطمئن شو");
                }
                else if(!validateName($("#cardName").val())){
                    toastr.error("!نامی که نوشتی فارسی نیست");
                }
                else{
                    var myHeaders = new Headers();
					myHeaders.append("Content-Type", "application/json");

					var raw = JSON.stringify({cardName: $("#cardName").val(), cardNumber: $("#cardNumber").val()});

                    myHeaders.append("Authorization", "Bearer "+localStorage.getItem("token"));
					var requestOptions = {
						method: "post",
						headers: myHeaders,
						body: raw,
						redirect: 'follow',
						'Access-Control-Allow-Origin': '*'
					};
					console.log(requestOptions)
					fetch(base + "bank", requestOptions).then(response => response.text())
						.then(result => {
							result = JSON.parse(result)
							console.log(result)
                            if(result.status)
                                {
                                    toastr.success("(;شماره کارت با موفقیت اضافه شد");
                                    setTimeout(function(){
                                        $("#form-check").hide();
                                        $("#card-number").fadeIn(500);
                                        $("#card").addClass('p-4');
                                        $("#submit").hide();
                                        $("#change").fadeIn(500);
                                        $("#checkout").fadeIn(500);
                                        $("#titleFormCard").text('کارت بانکی ثبت شده');
                                        $("#showCardNumber").text(formatCreditCard($("#cardNumber").val()));
                                        $("#showCardName").text($("#cardName").val());
                                    },500);
                                    $("#checkout-price").click(()=>{
                                        $("#price-card").val('0')
                                    })
                                }else toastr.error(result.alert)
                    }).catch(error => console.log('error', error));
                }
            }
        })

        $("#submit-card").click(()=>{
                        if($('#price-card').val() == "" || $('#price-card').val() == null){
                            toastr.error("لطفا فیلد رو پر کن");
                        }
                        else{
                            toastr.success("با موفقیت ثبت شد(طی 24 ساعت آینده پول به کارت شما واریز می شود از صبر شما سپاسگذاریم)");
                            $("#checkout-modal #close-modal").click()
                        }
                    })
        
    </script>

