<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>چیزی پیدا نشد</title>
</head>
<body>
    <div>
        <img style="max-width: 400px; margin: 10% auto; display: flex; align-items: center;" src="https://vectorforfree.com/wp-content/uploads/2020/07/Error-404.png" alt="">
    </div>
</body>
</html>