.header-mobile{
    display: none !important;
}
.aside{
    display: none !important;
}
#kt_aside{
    display: none !important;
}
.header-fixed .header-tablet-and-mobile-fixed .aside-fixed .aside-secondary-disabled{
    display: none !important;
}